{% extends "layout.twig" %}

{% block title %}Dashboard | {{ ui.appName }}{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Welcome, Admin!</p>
    <p>This is the web dashboard.</p>
    <hr>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
{% endblock %}
