{% extends "layouts/base.twig" %}

{% block title %}Settings | {{ ui.appName }}{% endblock %}

{% block content %}
    <h1 class="dark:text-gray-100">Settings</h1>
    <p class="dark:text-gray-400">Settings coming soon</p>
{% endblock %}
