/** @format */

.form-group {
	position: relative;
	display: flex;
	flex-direction: column;
	/* gap: 40px; */
	/*padding: var(--spacing-sm) 0;*/
	padding: 0 0 8px 0;
	justify-content: space-between;
	margin: var(--spacing-sm) 0;
	color: var(--color-black);
}

.form-group-label {
	display: flex;
	align-items: center;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-normal);
	text-wrap: nowrap;
	color: var(--color-black);
	transition: 0.5s ease-in-out;
	margin-bottom: 5px;
}

.form-group-label span {
	margin-inline: 5px;
	font-size: var(--font-size-xs);
	color: var(--color-main);
}
.form-group-input {
	padding: var(--spacing-sm);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-sm);
	background: var(--color-white);
	color: var(--color-black);
	width: 100%;
	transition: 0.5s ease-in-out;
	-webkit-border-radius: var(--border-radius-sm);
	-moz-border-radius: var(--border-radius-sm);
	-ms-border-radius: var(--border-radius-sm);
	-o-border-radius: var(--border-radius-sm);
}
.form-group-input[type="color"] {
	cursor: pointer;
}

.form-group-textarea {
	padding: var(--spacing-sm);
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-sm);
	background: var(--color-white);
	width: 100%;
	color: var(--color-black);
	height: 100px;
	-webkit-border-radius: var(--border-radius-sm);
	-moz-border-radius: var(--border-radius-sm);
	-ms-border-radius: var(--border-radius-sm);
	-o-border-radius: var(--border-radius-sm);
}
.form-group-input:disabled,
.form-group-textarea:disabled,
.form-group-select:disabled {
	background-color: var(--color-hover);
	cursor: not-allowed;
}
.form-group-input::placeholder,
.form-group-textarea::placeholder {
	color: var(--color-light);
}
.form-group-select {
	padding: var(--spacing-sm);
	border: 1px solid var(--color-border);
	background: var(--color-white);
	width: 100%;
	color: var(--color-black);
	transition: 0.5s ease-in-out;

	border-radius: var(--border-radius-sm);
	-webkit-border-radius: var(--border-radius-sm);
	-moz-border-radius: var(--border-radius-sm);
	-ms-border-radius: var(--border-radius-sm);
	-o-border-radius: var(--border-radius-sm);
}
.input-error {
	position: absolute;
	bottom: -15px;
	color: #a80000;
	padding-left: 3px;
	font-size: 11px;
}

@media (max-width: 992px) {
	.form-group {
		gap: 10px;
	}
}
