
button{
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
}
.table-container {
    /* width: 95%; */
    /* box-shadow: var(--box-shadow);
 border-radius: var(--border-radius-md); */
    position: relative;
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
    background: #fff;
    border-radius: 7px;
}

table {
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    transition: 0.5s ease-in-out;
}

table>* {
    transition: 0.5s ease-in-out;
}

thead {
    /*font-family: 'cairo';
	font-size: var(--font-size-sm);
	*/
    color: #666;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

thead th {
    padding: 2px 10px;
    font-weight: 300;
    font-size: 14px;
    /*background:#f7f8fa !important;*/
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table td {
    border-top: 1px solid #e5e7eb;
    color: #000;
    font-weight: 300;
    /* text-align: center; */
    padding: 10px;
    cursor: pointer;
}

table td>a {
    display: block;
    /* padding: var(--spacing-sm) var(--spacing-md); */
}

table tbody tr:hover {
    background-color: #f5f5f5;
}

.tableHeader {
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #000;
    flex-direction: row-reverse;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.filterTypes {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    width: 15%;
}

.filterTypes span {
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 15px;
}

.filterTypes span.active,
.filterTypes span:hover {
    color:  #fff;
    border-radius: 15px;
}

/* dropDown */

.dropdown-menu {
    position: absolute;
    list-style: none;
    display: none;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: var(--spacing-md) 0;
    right: 10px;
    z-index: 9;
    top: 45px;
    border-radius: var(--border-radius-md);
    -webkit-border-radius: var(--border-radius-md);
    -moz-border-radius: var(--border-radius-md);
    -ms-border-radius: var(--border-radius-md);
    -o-border-radius: var(--border-radius-md);
}

.tableHeader .dropdown-menu a {
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    min-width: 200px;
    padding: 5px 15px;
    width: 100%;
}

.tableHeader .dropdown-menu.export a {
    justify-content: space-between;
}

.tableHeader .dropdown-menu.export svg {
    margin: unset !important;
}

.tableHeader .dropdown-menu a .sortCheck {
    display: inline-block;
    border: 1px solid #eeeeee;
    border-radius: 50% !important;
    color: #081021;
    content: "";
    height: 18px;
    width: 18px;
}

.tableHeader .dropdown-menu>span {
    padding: 0 15px;
}

.tableHeader .dropdown-menu span {
    color: #000;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    margin: auto 10px;
}

.tableHeader .dropdown-menu a .sortCheck.active {
    border: 5px solid #000;
}

.tableHeader .dropdown-menu>li:hover {
    background-color: #f5f5f5;
}

.tableHeader .sortList svg {
    display: flex;
    margin: auto;
    padding: 0;
}

.tableHeader .table-options {
    margin-right: 5px;
}

.tableHeader .sortList {
    border: 1px solid #eeeeee !important;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    margin-right: 10px;
    padding: 3px 4px;
    cursor: pointer;
}

.table-container footer {
    margin-block: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.table-container footer ul {
    display: flex;
    list-style: none;
    margin: 0;

}





.table-container footer ul .page-link svg {
    vertical-align: middle;
}

.table-container footer ul li:first-child .page-link {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
}

.table-container footer ul li:last-child .page-link {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
}

.table-container footer .table-count {
    font-size: 12px;
    margin: 0;

}

.table-container footer .table-count span {
    font-size: 12px;

    color: #1515cd;
}

td .dropdown {
    position: relative;
}

td .dropdown-menu {
    top: 30px;
    padding: 10px 0;
    left: -60px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    right: 0;
}

td .dropdown-menu a {
    font-size: 12px;
    padding: 5px 15px;
    display: flex;
}

td .dropdown-menu a:hover {
    background-color: #f5f5f5;
}

td.text-center {
    text-align: center;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    border: none;
    /*background: none;*/
    cursor: pointer;
    padding: 4px 8px;
    font-size: 18px;
}

.dropdown-toggle:hover {
    opacity: unset;
    background-color: unset;
    box-shadow: unset;

}

.dropdown-toggle::after {
    border: none;
    margin: 0;
    content: none;

}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 120px;
    /*background: #fff;*/
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 999;
    flex-direction: column;
}

.dropdown-menu .dropdown-item {
    width: 100%;
    text-align: left;
    padding: 6px 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;

}

.dropdown-menu .dropdown-item:hover {
    background: #f5f5f5;
}